<div class="bg-gray-900 p-4 rounded-lg shadow-lg">
  <form (ngSubmit)="onSubmit()" class="space-y-4">
    <!-- Provider Selection -->
    <div class="space-x-2">
      <label for="provider" class="text-white">Provider</label>
      <select
        class="bg-gray-800 text-white rounded-lg px-4 py-2"
        name="provider"
        [(ngModel)]="config.provider"
      >
        @for(provider of availableOptions.provider; track provider) {
        <option [value]="provider" class="bg-gray-700 text-white">
          {{ provider }}
        </option>
        }
      </select>
    </div>

    @for (provider of availableOptions.provider; track provider) { @if
    (config.provider === provider) {
    <h4 class="text-white">{{ provider }} Settings</h4>

    <div class="space-x-2">
      <label for="{{ provider }}-model" class="text-white">Model</label>
      <select
        class="bg-gray-800 text-white rounded-lg px-4 py-2"
        name="{{ provider }}-model"
        [(ngModel)]="config[provider].model"
      >
        @for(model of availableOptions[provider].model; track model) {
        <option [value]="model" class="bg-gray-700 text-white">
          {{ model }}
        </option>
        }
      </select>
    </div>
    <div class="space-x-2">
      <label for="{{ provider }}-api_key" class="text-white">API Key</label>
      <input
        name="{{ provider }}-api_key"
        [(ngModel)]="config[provider].api_key"
        class="bg-gray-800 text-white rounded-lg px-4 py-2"
        placeholder="Enter OpenAI API Key"
      />
    </div>
    } }

    <!-- Submit Button -->
    <button
      type="submit"
      class="bg-white text-gray-900 rounded-lg px-4 py-2 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-300"
    >
      Save Config
    </button>
  </form>
</div>
