<div class="flex items-center space-x-4 mb-4">
  <div class="flex-grow space-y-2">
    <label for="summary-length" class="text-sm font-medium"
      >Summary Length</label
    >
    <input
      type="range"
      id="slider"
      min="0"
      max="100"
      value="50"
      class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer"
    />
  </div>
  <div class="w-40 space-y-2">
    <label for="summary-tone" class="text-sm font-medium">Tone</label>
    <select
      id="summary-tone"
      class="w-full p-2 border border-gray-300 rounded-md bg-white"
    >
      <option value="neutral">Neutral</option>
      <option value="formal">Formal</option>
      <option value="casual">Casual</option>
    </select>
  </div>
</div>
<button
  class="px-4 py-2 mb-8 w-[100%] bg-gray-700 text-white rounded-lg hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300"
  (click)="summaryGenerate()"
>
  Generate
</button>
<div class="bg-white rounded-lg shadow-lg p-8">
  <article
    class="prose lg:prose-lg xl:prose-xl max-w-none"
    [innerHTML]="generatedSummary"
  ></article>
</div>
