<div class="relative flex mb-4" x-data="{dropdownOpen: false}">
  <button
    class="bg-black flex-grow hover:bg-gray-800 text-white font-semibold py-2 px-4 rounded-l focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50"
    (click)="summaryGenerate(configSvc.getAll().defaultSummaryProvider)"
  >
    Generate with
    {{ configSvc.getAll().defaultSummaryProvider.toLocaleUpperCase() }}
  </button>
  <button
    class="bg-black hover:bg-gray-800 text-white font-semibold py-2 px-2 rounded-r border-l border-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50"
    (click)="toggleDropdown()"
  >
    <span class="material-symbols-outlined"> arrow_drop_down </span>
  </button>

  @if (dropdownOpen) {
    <div
      #dropdownMenu
      class="absolute right-0 mt-10 w-48 bg-white rounded-md shadow-lg text-left z-50"
    >
      <div class="py-1">
        @for (provider of availableProvider(); track provider) {
          <button
            class="w-full block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            (click)="summaryGenerate(provider)"
          >
            Summary with {{ provider.toUpperCase() }}
          </button>
        }
        <hr class="my-1 border-gray-200" />
        <button
          class="w-full block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          [routerLink]="['/config']"
        >
          Change default provider
        </button>
      </div>
    </div>
  }
</div>
<div class="bg-white rounded-lg shadow-lg p-4">
  @if (!generatingSummary) {
    <app-tts-player [summaryText]="generatedSummary$()"></app-tts-player>
    <article
      class="prose lg:prose-lg xl:prose-xl max-w-none"
      [innerHTML]="generatedSummary$()"
    ></article>
  } @else {
    <article class="prose lg:prose-lg xl:prose-xl max-w-none">
      <div class="w-[80%] h-8 bg-gray-300 rounded mb-2"></div>
      <div class="w-[100%] h-4 bg-gray-300 rounded mb-2"></div>
      <div class="w-[60%] h-4 bg-gray-300 rounded mb-2"></div>
      <div class="w-[90%] h-4 bg-gray-300 rounded mb-2"></div>
      <div class="w-[80%] h-8 bg-gray-300 rounded mb-2"></div>
      <div class="w-[100%] h-4 bg-gray-300 rounded mb-2"></div>
      <div class="w-[60%] h-4 bg-gray-300 rounded mb-2"></div>
      <div class="w-[90%] h-4 bg-gray-300 rounded mb-2"></div>
    </article>
  }
</div>
