<div
  class="fixed top-0 left-0 right-0 flex items-center justify-between p-4 pb-0 bg-gray-100"
>
  <div class="flex space-x-2">
    <button
      class="px-4 py-2 text-sm font-medium rounded-t-md transition-colors duration-150 flex items-center text-md"
      [class]="
        activeTab === 'summary'
          ? 'bg-white text-gray-900'
          : 'text-gray-500 hover:text-gray-700'
      "
      (click)="activeTab = 'summary'"
    >
      <span class="material-symbols-outlined mr-1"> summarize </span> Summary
    </button>
    <button
      class="px-4 py-2 text-sm font-medium rounded-t-md transition-colors duration-150 flex items-center text-md"
      [class]="
        activeTab === 'qa'
          ? 'bg-white text-gray-900'
          : 'text-gray-500 hover:text-gray-700'
      "
      (click)="activeTab = 'qa'"
    >
      <span class="material-symbols-outlined mr-2"> question_exchange </span>
      Q&A
    </button>
    <button
      class="px-4 py-2 text-sm font-medium rounded-t-md transition-colors duration-150 flex items-center text-md"
      [class]="
        activeTab === 'setting'
          ? 'bg-white text-gray-900'
          : 'text-gray-500 hover:text-gray-700'
      "
      (click)="activeTab = 'setting'"
    >
      <span class="material-symbols-outlined mr-1"> settings </span> Setting
    </button>
  </div>
</div>

<div class="mt-14">
  @if (activeTab === 'summary') {
  <app-summary></app-summary>
  } @if (activeTab === 'qa') {
  <app-qa></app-qa>
  } @if (activeTab === 'setting') {
  <app-config></app-config>
  }
</div>
