<div class="fixed top-0 left-0 right-0 flex items-center justify-between p-4">
  <div class="flex space-x-2 bg-gray-100 p-1 rounded-lg">
    <button
      class="px-4 py-2 text-sm font-medium rounded-md transition-colors duration-150"
      [class]="
        activeTab === 'summary'
          ? 'bg-white text-gray-900 shadow-sm'
          : 'text-gray-500 hover:text-gray-700'
      "
      (click)="activeTab = 'summary'"
    >
      Summary
    </button>
    <button
      class="px-4 py-2 text-sm font-medium rounded-md transition-colors duration-150"
      [class]="
        activeTab === 'qa'
          ? 'bg-white text-gray-900 shadow-sm'
          : 'text-gray-500 hover:text-gray-700'
      "
      (click)="activeTab = 'qa'"
    >
      Q&A
    </button>
  </div>
  <div class="flex">
    <button (click)="activeTab = 'setting'">
      <span class="material-symbols-outlined text-4xl"> settings </span>
    </button>
  </div>
</div>

<div class="mt-12">
  @if (activeTab === 'summary') {
  <app-summary></app-summary>
  } @if (activeTab === 'qa') {
  <app-qa></app-qa>
  } @if (activeTab === 'setting') {
  <app-config></app-config>
  }
</div>
