@tailwind base;
@tailwind components;
@tailwind utilities;

article.prose {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

article.prose p,
article.prose li {
  margin-bottom: 1em;
}

article.prose h1,
article.prose h2,
article.prose h3,
article.prose h4,
article.prose h5,
article.prose h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
}

article.prose h1 {
  font-size: 1.5em;
}

article.prose h2 {
  font-size: 1.25em;
}

article.prose h3 {
  font-size: 1.15em;
}

article.prose h4 {
  font-size: 1.05em;
}

article.prose h5 {
  font-size: 1em;
}

article.prose h6 {
  font-size: 0.875em;
}

article.prose blockquote {
  border-left: 3px solid #e51919;
  margin-left: 0;
  padding-left: 1em;
  font-style: italic;
}
